.legend > button{
    margin: 15px;
}

div.white{
    margin: 15px;
    padding: 15px 5px;
    align-items: "center";
    background-color: white;
    color: black;
    border: 1px grey solid;
}
div.white:hover {
    background-color: white;
    cursor: pointer;
}

div.blue{
    padding: 15px 5px;
    align-items: "center";
    background-color: lightblue;
    color: black;
    margin: 15px;
    border: 1px grey solid;
}
div.blue:hover {
    background-color: lightblue;
    cursor: pointer;
}

div.red{
    padding: 15px 5px;
    align-items: "center";
    background-color: #cd5c5c;
    color: black;
    margin: 15px;
    border: 1px grey solid;
}
div.red:hover {
    background-color: #cd5c5c;
    cursor: pointer;
    color: black;
}
div.grey{
    padding: 15px 5px;
    align-items: "center";
    background: repeating-linear-gradient( 45deg, lightgray, lightgray 10px, white 10px, white 20px);
    color: black;
    margin: 15px;
    border: 1px grey solid;
}
div.grey:hover {
    background: repeating-linear-gradient( 45deg, lightgray, lightgray 10px, white 10px, white 20px);
    cursor: pointer;
}