button.available {
    padding: 3px;
    width: 100px;
    height: 50px;
    align-items: "center";
    background-color: white;
    color: black;
}
button.available:hover {
    background-color: white;
    cursor: pointer;
}
button.available:focus {
    background-color: white;
    cursor: pointer;
    outline: none;
}
button.reserved {
    padding: 3px;
    width: 100px;
    height: 50px;
    align-items: "center";
    background-color: #cd5c5c;
}
button.reserved:hover {
    background-color: #cd5c5c;
    cursor: pointer;
}
button.reserved:focus {
    background-color: #cd5c5c;
    cursor: pointer;
    outline: none;
}
button.accessible {
    padding: 3px;
    width: 100px;
    height: 50px;
    align-items: "center";
    background-color: lightblue;
    color: black;
}
button.accessible:hover {
    background-color: lightblue;
    cursor: pointer;
}
button.accessible:focus {
    background-color: lightblue;
    cursor: pointer;
    outline: none;
}
button.disabled {
    padding: 3px;
    width: 100px;
    border: 0px;
    height: 50px;
    align-items: "center";
    background: repeating-linear-gradient( 45deg, lightgray, lightgray 10px, white 10px, white 20px);
    color: black;
}
button.disabled:hover {
    background: repeating-linear-gradient( 45deg, lightgray, lightgray 10px, white 10px, white 20px);
    cursor: pointer;
}
button.disabled:focus {
    background: repeating-linear-gradient( 45deg, lightgray, lightgray 10px, white 10px, white 20px);
    cursor: pointer;
    outline: none;
}