.editSeatPlan {
    text-align: center;
    margin: 25px;
}

.actionButtons {
    text-align: center;
    margin: 5px;
}

.preview {
    text-align: center;
}

.rowTextField {
    margin: 10px;
}

.colTextField {
    margin: 10px;
}

.confirmButton {
    margin: 5px;
}

.applyButton {
    margin: 5px;
}

.cancelButton {
    margin: 5px;
}

.previewLabel {
    font-size: xx-large;
    margin: 5px;
}