.InstructorHome .lander {
  padding: 80px 0;
  text-align: center;
}

.InstructorHome .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.InstructorHome .lander p {
  color: #999;
}

.row {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.layoutHeader > div {
  margin-right: 65%;
  padding: 15px;
}

.layoutHeader > button {
  margin: 0px 15px;
}

.layoutFooter {
  padding: 15px;
}

.layoutFooter > button {
  margin: 0px 15px;
}

.main {
  display: flex;
}

.main .legend {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 2px solid grey;
  text-align: center;
}

.root {
  overflow: scroll;
  width: 800px;
  margin: auto;
  height: min-content;
  max-height: 600px;
  padding: 5px;
  border: 3px solid grey;
}

.seat {
  margin: auto;
}
.editSeatPlan {
  margin: 0px 0px 15px 0px;
}

.editSeatPlan > button {
  margin: 6px 0px 0px 0px;
}

.editSeatPlan > span {
  margin: 15px;
}

.MuiInputBase-input {
  height: fit-content !important;
  font: message-box !important;
  text-align: center !important;
}

.MuiAppBar-colorPrimary {
  background-color: #cd5c5c !important;
}

.AttendanceTitle {
  color: white !important;
}

button.AttendanceTitle {
  font: message-box;
}

.Attendance {
  margin: 50px;
  align-self: center;
  display: flex;
}

.Attendance .legend {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 2px solid grey;
  text-align: center;
  margin-right: 100px;
}

.AttendanceLayout {
  margin: 50px 50px !important;
}

.Attendance > .root {
  margin: 50px;
}

.MuiInput-root :hover {
  cursor: pointer;
}

.MuiPickersToolbar-toolbar {
  background-color: #cd5c5c !important;
}

.MuiTypography-body1 {
  font-size: 2rem !important;
}

.MuiTypography-body2 {
  font-size: 2rem !important;
}

.MuiButton-root {
  font-size: 1.5rem !important;
}

.MuiButton-textPrimary {
  color: #cd5c5c !important;
}

.MuiPickersDay-daySelected {
  background-color: #cd5c5c !important;
}

.MuiPickersClockPointer-pointer {
  background-color: #cd5c5c !important;
}

.MuiPickersClock-pin {
  background-color: #cd5c5c !important;
}

.MuiPickersClockPointer-thumb {
  border: 14px solid #cd5c5c !important;
}

.RosterTitle {
  color: white !important;
}